### loops in python 
* a for loop is used for itearing over a sequence (that is either a list a tuple,a dictionry,a set,a string ).
* this is less like the for keyword in other proramming language and workes more like an iterator method as found in other object orinted programming language.
* with the for loop we can excute a set of statement once for each item i a list .
    * tupel, set,etc....
* the for loop does not required an indecxing variable to set befarehnd.
* whith the while loop we can execute a set of statement as long as a condition is true.

* note: 
    * rember to increment i or else the loop wil continue loop.
    * the while loop required relavent variable to be ready , in this example we need to define an indecxing variable i, which we set to 1.

## range() function
* it is helpful to think of the range object as an orderd list.
* to loop through a set of code a specified number of time we can use the range() function.
* the range() function returns a sequence of number, starting form 0 by defult and increment by 1 by defult and endes at a specifide number.

In [2]:
for i in range(1,100):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [10]:
sum1=0
for i in range(1,11):
    sum1=sum1+i
print(sum1)

55

In [12]:
even=0
for x in range(0,21):
    if x%2==0:
        even+=x
print("sum of 10 even number is",even)

sum of 10 even number is 110

In [13]:
odd=0
for num in range(0,38):
    if num%2!=0:
        odd+=num
print("sum of 20 odd number is ",odd)

sum of 20 odd number is  361

In [18]:
name=input("enter your name")
count=0
for i in name:
    count+=1
print("total charector in your name",count)

enter your name kartik

total charector in your name 6

In [20]:
for i in range(1,11):
    print(6,"*",i,"=",6*i)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [31]:
num=int(input("enter any value"))
for i in range(1,11):
    print("%dx%d=%d"%(num,i,num*i))

enter any value 4

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40

In [33]:
n=int(input("enter any value"))
for i in range(1,11):
    print("{}*{}={}".format(n,i,n*i))

enter any value 6

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [35]:
m=int(input("enter any number"))
for i in range(1,11):
    print(f"{m}*{i}={m*i}")

enter any number 7

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [36]:
for i in range(1,41):
    print("\n")
    for x in range(1,11):
        print(f"{i}*{x}={i*x}")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10


2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20


3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30


4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40


5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50


6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60


7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70


8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80


9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90


10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100


11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110


12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120


13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130


14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140


15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150


16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160


17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170


18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180


19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190


20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200


21*1=21
21*2=42
21*3=63
21*4=84
21*5=105
21*6=126
21*7=147
21*8=168
21*9=189
21*10=210


22*1=22
22*2=44
22*3=66
22*4=88
22*5=110
22*6=132
22*7=154
22*8=176
22*9=198
22*10=220


23*1=23
23*2=46
23*3=69
23*4=92
23*5=115
23*6=138
23*7=161
23*8=184
23*9=207
23*10=230


24*1=24
24*2=48
24*3=72
24*4=96
24*5=120
24*6=144
24*7=168
24*8=192
24*9=216
24*10=240


25*1=25
25*2=50
25*3=75
25*4=100
25*5=125
25*6=150
25*7=175
25*8=200
25*9=225
25*10=250


26*1=26
26*2=52
26*3=78
26*4=104
26*5=130
26*6=156
26*7=182
26*8=208
26*9=234
26*10=260


27*1=27
27*2=54
27*3=81
27*4=108
27*5=135
27*6=162
27*7=189
27*8=216
27*9=243
27*10=270


28*1=28
28*2=56
28*3=84
28*4=112
28*5=140
28*6=168
28*7=196
28*8=224
28*9=252
28*10=280


29*1=29
29*2=58
29*3=87
29*4=116
29*5=145
29*6=174
29*7=203
29*8=232
29*9=261
29*10=290


30*1=30
30*2=60
30*3=90
30*4=120
30*5=150
30*6=180
30*7=210
30*8=240
30*9=270
30*10=300


31*1=31
31*2=62
31*3=93
31*4=124
31*5=155
31*6=186
31*7=217
31*8=248
31*9=279
31*10=310


32*1=32
32*2=64
32*3=96
32*4=128
32*5=160
32*6=192
32*7=224
32*8=256
32*9=288
32*10=320


33*1=33
33*2=66
33*3=99
33*4=132
33*5=165
33*6=198
33*7=231
33*8=264
33*9=297
33*10=330


34*1=34
34*2=68
34*3=102
34*4=136
34*5=170
34*6=204
34*7=238
34*8=272
34*9=306
34*10=340


35*1=35
35*2=70
35*3=105
35*4=140
35*5=175
35*6=210
35*7=245
35*8=280
35*9=315
35*10=350


36*1=36
36*2=72
36*3=108
36*4=144
36*5=180
36*6=216
36*7=252
36*8=288
36*9=324
36*10=360


37*1=37
37*2=74
37*3=111
37*4=148
37*5=185
37*6=222
37*7=259
37*8=296
37*9=333
37*10=370


38*1=38
38*2=76
38*3=114
38*4=152
38*5=190
38*6=228
38*7=266
38*8=304
38*9=342
38*10=380


39*1=39
39*2=78
39*3=117
39*4=156
39*5=195
39*6=234
39*7=273
39*8=312
39*9=351
39*10=390


40*1=40
40*2=80
40*3=120
40*4=160
40*5=200
40*6=240
40*7=280
40*8=320
40*9=360
40*10=400

In [39]:
#break and continue

for i in range(11):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [47]:
for i in range(1,100):
    if i==51:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [48]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [54]:
i=0
j=11
while(i<j):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
num3=int(input("enter any number"))
i=1
j=11
while(i<j):
    print(f"{num3}*{i}={num3*i}")
    i+=1

enter any number 6

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [3]:
name=input("enter your name")
name1=name.lower()
vow=0
vowelchar=[]
cons=0
conschar=[]
totalchar=0
for i in name1:
    if i in['a','e','i','o','u']:
        vowelchar.append(i)
        vow+=1
    else:
        cons+=1
        conschar.append(i)
    totalchar+=1
print(vowelchar,"=",vow)
print(conschar,"=",cons)
print("total charector in your name",totalchar)

enter your name KARTIK DHADGE

['a', 'i', 'a', 'e'] = 4
['k', 'r', 't', 'k', ' ', 'd', 'h', 'd', 'g'] = 9
total charector in your name 13

In [7]:
name=input("enter your name")
vow=0
vowelchar=[]
cons=0
conschar=[]
totalchar=0
for i in name:
    if i in['a','e','i','o','u','A','E','I','O','U']:
        vowelchar.append(i)
        vow+=1
    else:
        cons+=1
        conschar.append(i)
    totalchar+=1
print(vowelchar,"=",vow)
print(conschar,"=",cons)
print("total charector in your name",totalchar)

enter your name kartik dhadge

['a', 'i', 'a', 'e'] = 4
['k', 'r', 't', 'k', ' ', 'd', 'h', 'd', 'g'] = 9
total charector in your name 13 e

In [2]:
i=1
j=11
sum1=0
while(i<j):
    sum1+=i
    i+=1
print("sum of 10 natural number:",sum1)

sum of 10 natural number: 55

In [3]:
i=1
j=11
listeven=[]
listodd=[]
sumeven=0
sumodd=0
while(i<j):
    if i%2==0:
        listeven.append(i)
        sumeven+=i
    else:
        listodd.append(i)
        sumodd+=i
    i+=1
print(" the list of even",listeven,"=",sumeven,"\n the list of odd numbers:",listodd,"=",sumodd)

 the list of even [2, 4, 6, 8, 10] = 30
 the list of odd numbers: [1, 3, 5, 7, 9] = 25

In [6]:
i=1
j=11
while(i<j):
    if i==5:
        break
    print(i)
    i+=1

1
2
3
4

In [4]:
fruits=['apple','banan','pineapple','orange','grapes',['kartik dhadge','ruchika'],'mango','guava','staraberry','coconat','litchi','cherry']
count=0
for i in range(len(fruits)):
    if fruits[i]=="staraberry":
        for x in fruits[i]:
            count+=1
            print(x)
print("total charector of staraberry:",count)

s
t
a
r
a
b
e
r
r
y
total charector of staraberry: 10

In [10]:
count2=0
for i in range(len(fruits)):
    if i==5:
       # print(i,fruits[i])
        for y in fruits[i]:
            #print(y)
            if y=="kartik dhadge":
                #print(y)
                for j in y:
                    count2+=1
                    print(j)
print("total charector in kartik dhadge:",count2)

k
a
r
t
i
k

d
h
a
d
g
e
total charector in kartik dhadge: 13

In [11]:
for i in range(1,101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [17]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

In [29]:
name="karik dhadge"
count3=0
for i in name:
    for j in i:
        print(j)
        count3+=1
print("total charecter in string",count3)

k
a
r
i
k

d
h
a
d
g
e
total charecter in string 12

In [30]:
str1=input("enter any string")
for i in str1:
    if i in ['a','e','i','o','u','A','E','I','O','U']:
        print(i)

enter any string kartikdhadge

a
i
a
e

In [37]:
i=10
j=1
while(i>=j):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [1]:
i=1
j=5
while(i<j):
    print(i,"\n")
    i+=1

1

2

3

4

In [4]:
#1 print number 1-10

for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [8]:
#while loop

i=1
j=11
while i<j:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [10]:
#2 print even number between 1 to 100
 

for i in range(1,101):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [11]:
# while loop

i=1
j=101
while i<j:
    if i%2==0:
        print(i,end=" ")
    i+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [12]:
#3 print table


num=int(input("enter any number"))
for i in range(1,11):
    print(f"{num}*{i}={num*i}")

enter any number 5

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [13]:
#while loop


num=int(input("enter any value"))
i=1
j=11
while i<j:
    print(f"{num}*{i}={num*i}")
    i+=1

enter any value 5

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [14]:
#4 calculate sun of number 1 to n 

n=int(input("enter number"))
sum1=0
for i in range(1,n+1):
    sum1+=i
print(sum1)

enter number 5

15

In [15]:
# while loop

n=int(input("enter any number"))
sum1=0
i=0
while i<n+1:
    sum1+=i
    i+=1
print(sum1)

enter any number 5

15

In [17]:
#5 factorial of number

n=int(input("enter any number"))
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

enter any number 5

120

In [19]:
# while loop

n=int(input("enter any number"))
fact=1
i=1
while i<=n:
    fact*=i
    i+=1
print(fact)

enter any number 5

120

In [22]:
#6 print all number devisible by 3 and 5 between 1 to 100

for i in range(1,101):
    if i%3==0 or i%5==0:
        print(i,end=" ")

3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100

In [24]:
# while loop
i=1
j=101
while i<j:
    if i%3==0 or i%5==0:
        print(i,end=" ")
    i+=1

3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100

In [29]:
#7 revers number
num="123456"
num[::-1]

'654321'

In [32]:
# while loop
num=123456
rev=0
while num>0:
    rev=rev*10+num%10
    num//=10
print(rev)

654321

In [33]:
#8 count digite in number

num="123456"
count=0
for i in range(len(num)):
    count+=1
print(count)

6

In [35]:
# while loop
num=123456
count=0
while num>0:
    count+=1
    num//=10
print(count)

6

In [36]:
# 9 print all charector in string
str1="kartik dhadge"
for i in str1:
    print(i)

k
a
r
t
i
k

d
h
a
d
g
e

In [37]:
# while loop
ste1="kartik dhadge"
i=0
while i<len(str1):
    print(str1[i])
    i+=1

k
a
r
t
i
k

d
h
a
d
g
e

In [40]:
#10 print vowels in string
userdata=input("enter your dada")
vow="aiouAEIOU"
for i in userdata:
    if i in vow:
        print(i)

enter your dada kartik

a
i

In [50]:
# while loop

userdata=input("ente your data")
vow="aeiouAEIOU"
i=0
vowstring=[]
while i<len(userdata):
    if userdata[i] in vow:
       vowstring.append(userdata[i])
    i+=1
print(vowstring)

ente your data kartik

['a', 'i']

In [53]:
# 11 count down value from 10 to 1
# while loop

i=10
j=1
while i>=j:
    print(i,end=" ")
    i-=1

10 9 8 7 6 5 4 3 2 1

In [54]:
#12 take a input from user enter a 0 then sum of number

listnum=[]
sum1=0
for i in iter(int,1):
    user=int(input("enter number"))
    if user==0:
        break
    listnum.append(user)
    sum1+=user
print(listnum,"\ntota sum of number is",sum1)

enter number 1
enter number 2
enter number 3
enter number 4
enter number 5
enter number 0

[1, 2, 3, 4, 5]
tota sum of number is 15

In [59]:
# while loop
listnum=[]
sum1=0
while True:
      user=int(input("enter number"))
      if user==0:
          break
      listnum.append(user)
      sum1+=user
print(listnum,"\ntota sum of number is",sum1)

enter number 1
enter number 2
enter number 3
enter number 4
enter number 5
enter number 0

[1, 2, 3, 4, 5]
tota sum of number is 15

In [60]:
#13 keep asking password until user corract one is entered
password="python123"
for i in iter(int,1):
    userpass=input("enter password")
    if userpass==password:
        print("accsess granted")
        break
    else:
        print("incorrect password")
        continue

enter password kartik

incorrcecot password

enter password python123

accsess granted

In [61]:
# while loop
password="python123"
while True:
    userpass=input("enter password")
    if userpass==password:
        print("accasess granted")
        break
    else:
        print("incorrect password")
        continue

enter password kadsfd

incorrect password

enter password python123

accasess granted

In [65]:
# 14 revers string in while loop
string="kartik"
rev=""
i=len(string)-1
while i>=0:
    rev+=string[i]
    i-=1
print(rev)

kitrak

In [67]:
#15 print pattern
for i in range(1,5):
    print("*"*i)

*
**
***
****

In [56]:
# while loop
i=1
j=5
while i<j:
    print("*"*i)
    i+=1

*
**
***
****

In [73]:
# 19 print the pattern
# 1
# 12
# 123
# 1234

for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [79]:
# while loop
i=1
j=5
while i<j:
    x=1
    y=i+1
    while x<y:
        print(x,end=" ")
        x+=1
    print()
    i+=1

1
1 2
1 2 3
1 2 3 4

In [83]:
#20 print floyd's tringle
n=1
for i in range(1,6):
    for j in range(1,i+1):
        print(n,end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [86]:
# while loop
n=1
i=1
j=6
while i<j:
    x=1
    y=i+1
    while x<y:
        print(n,end=" ")
        n+=1
        x+=1
    print()
    i+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [89]:
# 21 find the msximum number in the list
list1=[34,56,80,89,76,87,100]
max1=list1[0]
for i in list1:
    if i>max1:
        max1=i
print(max1)

100

In [1]:
# while loop
list1=[34,56,80,89,76,87,100]
max1=list1[0]
i=0
while i<len(list1):
    if list1[i]>max1:
        max1=list1[i]
    i+=1
print(max1)

100

In [2]:
#22 calculate the avarage of the list 
list1=[34,56,80,89,76,87,100]
sum1=0
count=0
avr=0
for i in list1:
    sum1+=i
    count+=1
    avr=sum1/count
print("total sum of list is ",sum1)
print("total elemet in list",count)
print("average of list is ",avr)

total sum of list is  522
total elemet in list 7
average of list is  74.57142857142857

In [5]:
# while loop
list1=[34,56,80,89,76,87,100]
sum1=0
count=0
avr=0
i=0
while i<len(list1):
    sum1+=list1[i]
    count+=1
    avr=sum1/count
    i+=1
print("total sum of list is",sum1)
print("total element in list ",count)
print("average of tha list is",avr)

total sum of list is 522
total element in list  7
average of tha list is 74.57142857142857

In [6]:
# 23 count how many even number in list
list1=[34,56,80,89,76,87,100,33,43,67,90]
evenlist=[]
count=0
for i in list1:
    if i%2==0:
        evenlist.append(i)
        count+=1
print("total even number in list",evenlist,"=",count)

total even number in list [34, 56, 80, 76, 100, 90] = 6

In [7]:
#while loop
list1=[34,56,80,89,76,87,100,33,43,67,90]
evenlist=[]
count=0
i=0
while i<len(list1):
    if list1[i]%2==0:
        evenlist.append(list1[i])
        count+=1
    i+=1
print("total even number in list",evenlist,"=",count)

total even number in list [34, 56, 80, 76, 100, 90] = 6

In [11]:
#24 renove all negative number in list
list2=[10,43,-23,45,-45,-65,45,-67,-28,-28]
posnum=[]
for i in list2:
    if i>0:
        posnum.append(i)
print("origanal list is:",list2)
print("after removing negative number :",posnum)

origanal list is: [10, 43, -23, 45, -45, -65, 45, -67, -28, -28]
after removing negative number : [10, 43, 45, 45]

In [12]:
# while loop
list2=[10,43,-23,45,-45,-65,45,-67,-28,-28]
posnum=[]
i=0
while i<len(list2):
    if list2[i]>0:
        posnum.append(list2[i])
    i+=1
print("oreganal list is:",list2)
print("after removing negative number:",posnum)

oreganal list is: [10, 43, -23, 45, -45, -65, 45, -67, -28, -28]
after removing negative number: [10, 43, 45, 45]

In [15]:
# 25 creat a new list with squre of number form another list
list1=[34,56,80,89,76,87,100]
sqrlist=[]
for i in list1:
    sqr=i**2
    sqrlist.append(sqr)
print("origanl list is",list1)
print(" squre of list is:",sqrlist)

origanl list is [34, 56, 80, 89, 76, 87, 100]
 squre of list is: [1156, 3136, 6400, 7921, 5776, 7569, 10000]

In [17]:
# while loop
list1=[34,56,80,89,76,87,100]
sqrlist=[]
i=0
while i<len(list1):
    sqr=list1[i]**2
    sqrlist.append(sqr)
    i+=1
print("origanal list is:",list1)
print(" squre of list is:",sqrlist)

origanal list is: [34, 56, 80, 89, 76, 87, 100]
 squre of list is: [1156, 3136, 6400, 7921, 5776, 7569, 10000]

In [20]:
# 26 count a number of vowel in string
string=input("enter your data")
vow="aeoiuAEIOU"
vowlist=[]
for i in string:
    if i in vow:
        vowlist.append(i)
print(" vowels in string is:",vowlist)

enter your data kartik

 vowels in string is: ['a', 'i']

In [24]:
# while loop
string=input("enter your data")
vow="aeiouAEIOU"
vowlist=[]
i=0
while i<len(string):
    if string[i] in vow:
        vowlist.append(string[i])
    i+=1
print(" vowels in string :",vowlist)

enter your data KARTIK

 vowels in string : ['A', 'I']

In [27]:
# 27 check astring is a palindrom
string1=input("enter name")
string=string1.lower()
rev=""
for char in string:
    rev=char+rev
if string==rev:
    print(" palindrom")
else:
    print("not palindrom")

enter name kayak

 palindrom

In [31]:
# while loop
string1=input("enter name")
string=string1.lower()
res=""
while string != "":
    if res[::-1]==res:
        print("palindrom")
    else:
        print(" not palindrom")
    string==""
    break

enter name kayak

palindrom

In [38]:
# 28 print a fabonecci series up to n turms using loop
n=int(input("enter number"))
a=0
b=1
for _ in range(n+1):
    print(a,end=" ")
    a,b=b,a+b
print(a,b)

enter number 10

0 1 1 2 3 5 8 13 21 34 55 89 144

In [39]:
# while loop
n=int(input(" enter any number"))
a=0
b=1
i=0
while i<n+1:
    print(a,end=" ")
    a,b=b,a+b
    i+=1
print(a,b)

 enter any number 10

0 1 1 2 3 5 8 13 21 34 55 89 144

In [40]:
# 29 find the GCD of two number

In [42]:
# 30 print pattern
# A
# BB
# CCC
# DDDD

for i in range(1,5):
    print(chr(64+i)*i)

A
BB
CCC
DDDD

In [55]:
#while loop
i=1
j=5
while i<j:
    print(chr(64+i)*i)
    i+=1

A
BB
CCC
DDDD

In [63]:
# print prime number between 1 to 100
for num in range (2,101):
    prime=True
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            prime=False
            break
    if prime:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [68]:
# while loop
num=2
while num<=100:
    prime=True
    i=2
    while i<num:
        if num%i==0:
            prime=False
            break
        i+=1
    if prime:
        print(num,end=" ")
    num+=1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [79]:
i=1
j=5
while i<j:
    print("*"*i)
    i+=1
i=j-1
while i>=1:
    print("*"*i)
    i-=1

*
**
***
****
****
***
**
*

In [102]:
rows=4
for i in range(1,rows+1):
    for j in range(i):
        print("*",end="")
    space=2*(rows-i)
    for j in range(space):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    print()
for i in range(rows-1,0,-1):
    for j in range(i):
        print("*",end="")
    space=2*(rows-i)
    for j in range(space):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    print()

*      *
**    **
***  ***
********
***  ***
**    **
*      *