In [1]:
#squre 1-10
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [4]:
# using list comprihenion
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# 1-10 pick even or odd
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [7]:
# using list comprihenion
print([i for i in range(1,11) if i%2==0])
print([i for i in range(1,11) if i%2!=0])

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [8]:
languages=["Python","C++","JavaScript","C","C#","ForTran","BASIC"]
# pick start with c
for i in range(len(languages)):
    if languages[i][0]=="C":
        print(languages[i])

C++
C
C#

In [9]:
for i in languages:
    if i[0]=="C":
        print(i)

C++
C
C#

In [10]:
#using list comprihenion
[i for i in languages if i[0]=="C"]

['C++', 'C', 'C#']

In [11]:
[languages[i] for i in range(len(languages)) if languages[i][0]=="C"]

['C++', 'C', 'C#']

In [12]:
# pick out s in strings in languages
for i in range(len(languages)):
    if "S" in languages[i]:
        print(languages[i])

JavaScript
BASIC

In [13]:
[i for i in languages if "S" in i]

['JavaScript', 'BASIC']

In [15]:
[a.upper() for a in languages]

['PYTHON', 'C++', 'JAVASCRIPT', 'C', 'C#', 'FORTRAN', 'BASIC']

In [16]:
# calculate factorial of 5

fact=1
for i in range(1,6):
    fact*=i
print(fact)

120

In [22]:
fact=1
n=int(input("enter any number"))
[i for i in range(1,n+1) if not(fact:=fact*i)]
print(fact)

enter any number 5

120

## practice set

In [23]:
#1. Genarate a list of squres from 1 to 10 using list comprihension.
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# 2. creat a list of even number fron 1 to 50 .
[i for i in range(1,51) if i%2==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [25]:
# 3. convert the listt of string to uppercase using list comprehension.
words=["cat","god","lion"]
[i.upper() for i in words]

['CAT', 'GOD', 'LION']

In [26]:
#4. get a list of numbers divisible by 3 and 5 both from 1 to 100.
[i for i in range(1,101) if i%3==0 and i%5==0]

[15, 30, 45, 60, 75, 90]

In [27]:
# 5. extract all vowels in string.
string="Comprehension"
vow="AEIOUaeiou"
[i for i in string if i in vow]

['o', 'e', 'e', 'i', 'o']

In [33]:
# 6 given a matrix falttan it in single matrix
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [37]:
#7. given a list that extract words that contain the latter "e"
word=["tree","book","python","sky"]
[word[i] for i in range(len(word)) if "e" in word[i]]

['tree']

In [47]:
# 8

In [59]:
#9 from a list of numbers replace odd number "ODD" and keep even number as is .
nums=[1,2,3,4,5,6]
[ "ODD" if i%2!=0 else i for i in nums]

['ODD', 2, 'ODD', 4, 'ODD', 6]

In [ ]:
# 10. using nested list