In [11]:
x1="kartik"
x2="dhadge"
y=x1+" "+x2
print(y)

kartik dhadge

In [17]:
x="kartik"
repeat=x*10
print(repeat)

kartikkartikkartikkartikkartikkartikkartikkartikkartikkartik

In [18]:
y="hello world"
n=y.find("o")
print(n)

4

In [20]:
a="HELLO WORLD"
print(a.casefold())
print(a.title())
print(a.upper())
print(a.lower())
print(a.capitalize())

hello world
Hello World
HELLO WORLD
hello world
Hello world

In [23]:
c="banana"
c.replace("a","@")

'b@n@n@'

In [31]:
txt='apple,banana,orange,kokonat'
b=txt.split(",")
n="|".join(b)
print(n)

apple|banana|orange|kokonat

In [32]:
str1="    kartik     "
str1.strip()

'kartik'

In [2]:
f="banana"
print(f.count("a"))

3

In [3]:
# 1 write a code that replace all the occurences  of "a" with "@" in a given string "Banana"

a="banana"
print(a.replace("a",'@'))

b@n@n@

In [6]:
# 2. given a string "apple,banana,orange," splite in to a list of fruits.
fruits="apple,banana,orange,painapple"
print(fruits.split(","))

['apple', 'banana', 'orange', 'painapple']

In [8]:
# 3. extract first five carector in "python programming".
string="python programming"
print(string[:5])

pytho

In [9]:
#4.concatination two string "hello", " world"
a="Hello"
b="World"
print(a+" "+b)

Hello World

In [10]:
#5. find index of is in string "this is a test"
string="this is a test"
print(len("is"))

2

In [12]:
# 6 given string "     python     " remove whitespace.
string="     python       "
print(string.strip())

python

In [13]:
#7

In [18]:
# 8. make sentence using f string 
name="kartik"
age="20"
sentence=(f" i am {name } and i am {age} years old")
print(sentence)

 i am kartik and i am 20 years old

In [21]:
# 9 count a in string " banana"
x="banana"
print(x.count("a"))

3